* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    font-size: 15pt;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.title-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.nav {
    background-color: #333;
    width: 100%;
    padding: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0,0.15);
}

.ul_nav {
    background-color: papayawhip;
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 30px;
    position: relative;
    
    
}

.ul_nav::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left:0;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.3s ease-in-out;
}


.ul_nav :hover ::after {
    transform: scaleX(2);
}


.div_grafica {
    background-color: gray
        
}

.div_desgrafica {
    background-color: green;
}

.div_lectura_grafica { 
    background-color: purple;
}